<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:custom="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_mart_android"
        tools:targetApi="31">
        <activity
            android:name=".ProductPage"
            android:exported="false" />
        <activity
            android:name=".PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".ContinuesAccount"
            android:exported="false" />
        <activity
            android:name=".ProductDetailPage"
            android:exported="false" />
        <activity
            android:name=".PaymentPage"
            android:exported="false" />
        <activity
            android:name=".OrderSuccessPage"
            android:exported="false" />
        <activity
            android:name=".NotificationsPage"
            android:exported="false" />
        <activity
            android:name=".ItemDiscount"
            android:exported="false" />
        <activity
            android:name=".Header"
            android:exported="false" />
        <activity
            android:name=".CategoryPage"
            android:exported="false" />
        <activity
            android:name=".CartPage"
            android:exported="false" />
        <activity
            android:name=".AccountPage"
            android:exported="false" />
        <activity
            android:name=".CartDetailPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:value="com.example.mini_mart_android.RoundedImageView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>